
h2 {  
    color: blueviolet;  
    background-color: blanchedalmond;    
    }    
body {

    background-color: cornsilk;    
    }

    /*pristup preko ID-a*/
#prvi {
    color: aqua;
}
/*pristup preko klase*/
.drugi {
    color: chocolate;

}