/* Globalni fontovi */
body {
    font-family: 'Open Sans', sans-serif;
}

/* h1 stilovi - zadatak 2 + zadatak 5 */
#main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem; /* prema zadatku 5 */
    font-weight: 600;
}

/* h2 stilovi - zadatak 2 */
h2 {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
}

/* Glavni sadržaj – pozadina (zad 3) */
ul {
    background-color: #ECEFF1;
    padding: 20px;
    border-radius: 8px;
}

/* Paragrafi (zad 3) – različite veličine i boje */
p:nth-of-type(1) {
    font-size: 16px;
    color: #37474F;
}

p:nth-of-type(2) {
    font-size: 18px;
    color: #546E7A;
}

p:nth-of-type(3) {
    font-size: 20px;
    color: #78909C;
}

/* Klasa highlight – zadatak 5 */
p.highlight {
    color: #FFC107; /* sada specifičnost pobjeđuje p:nth-of-type(1) */
}

/* Treći paragraf - internal CSS (Zadatak 7) */
#paragraf3 {
    background-color: rgb(220, 235, 255);
}

